body {
    font-family: 'Proza Libre', sans-serif;
}

.topNav {
    position: absolute;
    top: 10px;
    right: 20px;
}

.topNav li {
    display: block;
    display: inline;
    margin-right: 40px;
    font-size: 16px;
}

.navigation {
    top: 0;
    right: 0;
    background-color: black;
    display: inline-block;
    position: fixed;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 0px;
}

.myName {
    display: inline-block;
    color: white;
    font-size: 40px;
    margin-left: 40px;
}

.bio {
    color: green;
    text-decoration: none;
}

.portfolio {
    color: purple;
    text-decoration: none;
}

.github {
    color: yellow;
    text-decoration: none;
}

.linkedin {
    color: blue;
    text-decoration: none;
}

footer {
    margin-top: 130px;
    width: 100%;
    text-align: center;
}

#Bio {
    width: 100%;
    display: block;
    margin-top: 120px;
    text-align: center;
}

.bioDetails {
    display: block;
    margin-top: 60px;
    font-size: 30px;
}

.contact {
    display: block;
    color: white;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    padding: 15px;
    border: 1px solid black;
}

.bio1, .bio2 {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 25px;
}

li {
    list-style: none;
}

.bioImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#projects {
    text-align: center;
}

img {
    max-width: 60%;
}

.projectDescription {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.projects {
    margin-top: 130px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-toggle {
    display: none;
}

.hiddenNav {
    position: absolute;
    right: 0;
    top: 40px;
    padding-top: 30px;
    padding-bottom: 80px;
    display: none;
    width: 100px;
    height: 100px;
    background-color: black;
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .hidden {
        display: block;
    }
    .hiddenNav {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        padding-top: 30px;
        padding-bottom: 80px;
        width: 100px;
        height: 100px;
        background-color: black;
    }
    .hiddenNav li {
        margin-bottom: 20px;
    }
    .topNav {
        display: none;
    }
    .navbar-toggle {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: black;
    }
    .icon-bar {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }
}

@media screen and (max-width: 320px) {
    .myName {
        display: none;
    }
    .navigation {
        width: 100%;
        height: 45px;
    }
}